<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
<h2>图书管理</h2>
<!--<br>-->
<div id="app">

    <!--搜索表单-->
    <el-form :inline="true" :model="book" class="demo-form-inline">

<!--        <el-form-item label="当前状态">-->
<!--            <el-select v-model="book.status" placeholder="当前状态">-->
<!--                <el-option label="启用" value="1"></el-option>-->
<!--                <el-option label="禁用" value="0"></el-option>-->
<!--            </el-select>-->
<!--        </el-form-item>-->

        <el-form-item label="种类">
            <el-input v-model="pagination.type" placeholder="种类"></el-input>
        </el-form-item>

        <el-form-item label="书名">
            <el-input v-model="pagination.name" placeholder="书名"></el-input>
        </el-form-item>

        <el-form-item label="简介">
            <el-input v-model="pagination.description" placeholder="简介"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <!--按钮-->

    <el-row>

        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
<!--        <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>-->
        <el-button type="primary" plain @click="setVisible">新增</el-button>

    </el-row>
    <!--添加数据对话框表单-->
    <el-dialog
            title="编辑品牌"
            :visible.sync="dialogVisible"
            width="30%"
    >

        <el-form ref="form" :model="book" label-width="80px">
            <el-form-item label="种类">
                <el-input v-model="book.type"></el-input>
            </el-form-item>

            <el-form-item label="书名">
                <el-input v-model="book.name"></el-input>
            </el-form-item>

            <el-form-item label="简介">
                <el-input type="textarea" v-model="book.description"></el-input>
            </el-form-item>

<!--            <el-form-item label="状态">-->
<!--                <el-switch v-model="bookAdd.status"-->
<!--                           active-value="1"-->
<!--                           inactive-value="0"-->
<!--                ></el-switch>-->
<!--            </el-form-item>-->


            <el-form-item>
                <el-button type="primary" @click="addbook">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <!--更新数据对话框表单-->
    <el-dialog
            title="编辑品牌"
            :visible.sync="dialogVisible2"
            width="30%"
    >

        <el-form ref="form" :model="book" label-width="80px">
            <el-form-item label="种类">
<!--                {{bookUpdate.bookName}}-->
                <el-input v-model="book.type" value=book.type></el-input>
            </el-form-item>

            <el-form-item label="书名">
                <el-input v-model="book.name" value=book.name></el-input>
            </el-form-item>

<!--            <el-form-item label="排序">-->
<!--                <el-input v-model="bookUpdate.ordered" value={{bookUpdate.ordered}}></el-input>-->
<!--            </el-form-item>-->

            <el-form-item label="简介">
                <el-input type="textarea" v-model="book.description" value=book.description></el-input>
            </el-form-item>

<!--            <el-form-item label="状态">-->
<!--                <el-switch v-model="bookUpdate.status"-->
<!--                           :active-value="1"-->
<!--                           :inactive-value="0"-->
<!--                ></el-switch>-->
<!--            </el-form-item>-->


            <el-form-item>
                <el-button type="primary" @click="updatebook">提交</el-button>
                <el-button @click="dialogVisible2 = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="type"
                    label="种类"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="书名"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="description"
                    align="center"
                    label="简介">
            </el-table-column>

            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                <el-row>
                    <el-button @click="handleClickUpdate(scope.row)" type="primary">修改</el-button>
                    <el-button @click="handleClickDelete(scope.row)" type="danger">删除</el-button>
                </el-row>
                </template>
            </el-table-column>

        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pagination.currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="pagination.pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="pagination.totalCount">
    </el-pagination>
<!--{{pagination}}-->
</div>


<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script src="js/axios-0.18.0.js"></script>

<script>
    // import pagination from "./element-ui/packages/pagination/src/pagination";

    new Vue({
        el: "#app",

        mounted(){
            //当页面加载完成后，发送异步请求，获取数据

            this.selectAll();

           /* var _this = this;

            axios({
                method:"get",
                url:"http://localhost:8080/book-case/selectAllServlet"
            }).then(function (resp) {
                _this.tableData = resp.data;
            })*/

        },

        methods: {

            // 查询分页数据
            selectAll(){
                var _this = this;
               /*

                axios({
                    method:"get",
                    url:"http://localhost:8080/book-case/book/selectAll"
                }).then(function (resp) {
                    _this.tableData = resp.data;
                })*/

/*
                var _this = this;

                axios({
                    method:"post",
                    url:"http://localhost:8080/book-case/book/selectByPageAndCondition?currentPage="+this.currentPage+"&pageSize="+this.pageSize,
                    data:this.book
                }).then(function (resp) {

                    //设置表格数据
                    _this.tableData = resp.data.rows; // {rows:[],totalCount:100}
                    //设置总记录数
                    _this.totalCount = resp.data.totalCount;
                })*/


                var param = "?name="+this.pagination.name;
                param += "&type="+this.pagination.type;
                param += "&description="+this.pagination.description;

                axios({
                    method:"get",
                    // url:"http://localhost:8080/book-case/book/selectByPageAndCondition?currentPage="+this.currentPage+"&pageSize="+this.pageSize,
                    url:"http://localhost/books/"+_this.pagination.currentPage+"/"+_this.pagination.pageSize+param
                    // data:_this.book
                }).then(resp =>{
                    //设置表格数据
                    console.log(resp.data);
                    _this.tableData = resp.data.data.records; // {rows:[],totalCount:100}
                    _this.pagination.totalCount = resp.data.data.total;
                    //设置总记录数
                    // this.totalCount = resp.data.totalCount;
                })


            },

            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

               // console.log(this.multipleSelection)
            },
            setVisible(){
                this.book = {
                    type: '',
                    name: '',
                    description: ""
                };
                this.dialogVisible = true;
            },
            // 查询方法
            onSubmit() {
                //console.log(this.book);
                this.selectAll();

            },
            // 添加数据
            addbook() {
                //console.log(this.book);
                var _this = this;

                // 发送ajax请求，添加数据
                axios({
                    method:"post",
                    url:"http://localhost/books",
                    data:_this.book
                }).then(function (resp) {
                    if(resp.data.flag){
                        //添加成功

                        // 弹出消息提示
                        _this.$message({
                            message: resp.data.msg,
                            type: 'success'
                        });

                    }else{
                        _this.$message({
                            message: resp.data.msg,
                            type: 'warning'
                        });
                    }
                }).finally(()=>{
                    //关闭窗口
                    _this.dialogVisible = false;
                    // 重新查询数据
                    _this.selectAll();
                })


            },
            // 更新数据
            updatebook() {
                //console.log(this.book);
                var _this = this;

                // 发送ajax请求，添加数据
                axios({
                    method: "put",
                    url:"http://localhost/books",
                    data: _this.book
                }).then(function (resp) {
                    if (resp.data.flag) {
                        //添加成功

                        // 弹出消息提示
                        _this.$message({
                            message: '恭喜你，修改成功',
                            type: 'success'
                        });

                    }else{
                        _this.$message({
                            message: '修改失败!',
                            type: 'warning'
                        });
                    }
                }).finally(()=>{
                    //关闭窗口
                    _this.dialogVisible2 = false;

                    // 重新查询数据
                    _this.selectAll();
                })
            },
            //分页
            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                // 重新设置每页显示的条数
                this.pagination.pageSize  = val;
                this.selectAll();
            },
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                // 重新设置当前页码
                this.pagination.currentPage  = val;
                this.selectAll();
            },

            // 批量删除
            deleteByIds(){


                //console.log(this.multipleSelection);
                /*
                [
                    {
                        "bookName": "华为",
                        "companyName": "华为技术有限公司",
                        "description": "万物互联",
                        "id": 1,
                        "ordered": 100,
                        "status": 1,
                        "statusStr": "启用"
                    },
                    {
                        "bookName": "小米",
                        "companyName": "小米科技有限公司",
                        "description": "are you ok",
                        "id": 2,
                        "ordered": 50,
                        "status": 1,
                        "statusStr": "启用"
                    },
                    {
                        "bookName": "格力",
                        "companyName": "格力电器股份有限公司",
                        "description": "让世界爱上中国造",
                        "id": 3,
                        "ordered": 30,
                        "status": 1,
                        "statusStr": "启用"
                    }
                ]
                 */

                // 弹出确认提示框

                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //用户点击确认按钮

                    //1. 创建id数组 [1,2,3], 从 this.multipleSelection 获取即可
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        let selectionElement = this.multipleSelection[i];
                        this.selectedIds[i] = selectionElement.id;

                    }

                    //2. 发送AJAX请求
                    var _this = this;

                    // 发送ajax请求，添加数据
                    axios({
                        method:"delete",
                        url:"http://localhost/books",
                        data:_this.selectedIds
                    }).then(function (resp) {
                        if(resp.data.flag){
                            //删除成功

                            // 弹出消息提示
                            _this.$message({
                                message: '恭喜你，删除成功',
                                type: 'success'
                            });

                        }else{
                            // 弹出消息提示
                            _this.$message({
                                message: '删除失败！',
                                type: 'warning'
                            });

                        }
                    }).finally(()=>{
                        // 重新查询数据
                        _this.selectAll();
                    })
                }).catch(() => {
                    //用户点击取消按钮

                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });




            },
            //删除
            handleClickDelete(row) {
                // 弹出确认提示框

                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //用户点击确认按钮

                    //2. 发送AJAX请求
                    var _this = this;

                    // 发送ajax请求，添加数据
                    axios({
                        method:"delete",
                        url:"http://localhost/books/"+row.id

                    }).then(function (resp) {
                        if(resp.data.flag){
                            //删除成功
                            // 弹出消息提示
                            _this.$message({
                                message: '恭喜你，删除成功',
                                type: 'success'
                            });

                        }else{
                            _this.$message({
                                message: '删除失败',
                                type: 'warning'
                            });
                        }
                    }).finally(()=>{
                        // 重新查询数据
                        _this.selectAll();
                    })
                }).catch(() => {
                    //用户点击取消按钮

                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

                console.log(row);
            },
            handleClickUpdate(row){
                this.dialogVisible2 = true;
                this.book.id = row.id;
                this.book.name = row.name;
                this.book.type = row.type;
                this.book.description = row.description;

            }

        },
        data() {
            return {
                // // 每页显示的条数
                // pageSize:5,
                // // 总记录数
                // totalCount:100,
                // // 当前页码
                // currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                //更新数据
                dialogVisible2:false,

                pagination: {
                    //分页相关模型数据
                    currentPage: 1,		//当前页码
                    pageSize:5,		//每页显示的记录数
                    totalCount:100,			//总记录数
                    name: "",
                    type: "",
                    description: ""
                },
                // 品牌模型数据
                book: {
                    type: '',
                    name: '',
                    description: ""
                },
                // bookAdd: {
                //     type: '',
                //     name: '',
                //     description: ""
                // },
                // bookUpdate: {
                //     type: '',
                //     name: '',
                //     description: ""
                // },
                // 被选中的id数组
                selectedIds:[],
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: []
            }
        }
    })

</script>

</body>
</html>